HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Environment Variables & Secrets ###
.env
.env.local
.env.*.local
JWT_SECRET

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/uploads/*
.ollamassist/
src/main/resources/static/uploads/*
src/main/resources/application.properties
src/main/resources/application.yml
src/main/resources/application-prod.yml
